page-home {
    .version {
        margin-top: 55px;
        font-size: 12px;
        text-align: center;
        color: white;
        margin: 2px;
        position: absolute;
        bottom: 15px;
    }
}